{% extends 'base_user.html' %}
{% load static %}

{% block content %}
<style>
#staff{
    background: url("/static/image/staff.jpg") 100% 0 no-repeat fixed;
    color: white;
    height: 763px;
    padding: 50px 0 0 0; 
}
#user{
    background: url("/static/image/user.webp") 100% 0 no-repeat fixed;
    color: white;
    height: 763px;
    padding: 50px 0 0 0; 
}

.col-sm-4{
    background-color: black; 
    margin: 150px auto; 
    height: 200px;
    box-shadow: 0 0 32px 40px black;
}
h1{
    padding-top: 50px;
    text-align: center;
}
h3{
    color: white;
    padding-top: px;
    text-align: center;
}
</style>

<div class="container-fluid">
   
    <div class="row" id="user">
        <div class="col-sm-4">
            <h1>Welcome</h1>
            <h3>{{filt.first_name}} {{filt.last_name}}</h3>
        </div>
    </div>
    

    
</div>

{% endblock %}